/* setting main colors */
:root {
  --cyan1: #eaf8f8;
  --cyan2: #c1eaeb;
  --cyan3: #5fc9cb;
  --cyan4: #43c0c2;
  --cyan5: #2e8b8d;
}

/* initial theme */
.blueCombo {
  --text-primary: var(--cyan1);
  --text-secondary: var(--cyan2);
  --bg-primary: var(--cyan4);
  --bg-secondary: var(--cyan5);
  --text-entry: var(--cyan1);
  --buttons: var(--cyan3);

}

/* secondary theme */
.lightCombo {

}

/* Distant Dame Dark color combination */
  /* --text-primary: #B6BAB3;
  --text-secondary: #D71134;
  --bg-primary: #A8B082;
  --bg-secondary: #121015;
  --text-entry: #ffffff; */
    /* Ivory */
    /* scarlet*/
    /* Lint*/
    /*Black*/
  /*white */

/* Ombre Effect color combination */
  /* --text-primary: #B6BAB3;
  --text-secondary: #838BC2;
  --bg-primary: #93A387;
  --bg-secondary: #2D1674;
  --text-entry: #ffffff; */

  /* Succulent Garden color combination */
    /* --text-primary: #C1D9B7;
    --text-secondary: #E5A298;
    --bg-primary: #00735C;
    --bg-secondary: #00E091;
    --text-entry: #ffffff; */

 /* To use:
 var(--text-primary)
 var(--text-secondary)
 var(--bg-primary)
 var(--bg-secondary)
 var(--text-entry)
 */

body {
  margin: 0;
  background-color: var(--bg-primary);
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

ul {
  margin: 1vh 10vw;
  /* margin-top: 4vw; */
  padding: 1vw;
}

/* Style the list items */
ul li {
  /* cursor: pointer; */
  background-color: var(--text-secondary);
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  /* background: #eee; */
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Style the header */
.header {
  background-color: var(--bg-secondary);
  padding: 30px 10vw;
  color: var(--text-entry);
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  background-color: var(--text-secondary);
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: var(--buttons);
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 19px;
}

.ranBtn {
  margin-top: 5px;
  /* margin: 0 35% 10vw 35%; */
  padding: 10px;
  width: 30%;
  background: var(--buttons);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 19px;
  outline: none;
  border-style: none;
}

.banner {
  background-image: url("benny1080p01.jpg");
  background-size: cover;
  position: relative;
  height: 312px;
  background-position: center;
}

.banner-text {
  background-color: var(--text-secondary);
  /* background-color: #f4c836; */
  color: black;
  font-size: 10vw;
  margin: 0 auto;
  padding: 10px;
  width: 60%;
  text-align: center;
  position: absolute;
/* I had to look up the next 4 lines, it doesn't center with the above text-align unless these are here for some reason. More to study later. */
  mix-blend-mode: screen;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Everything above is default screens, roughly 1080p^ */

/*small screens, mobile */
@media only screen and (max-width: 800px) {
  .banner {
    background-image: url("bennymobile01.jpg");
    height: 212px;
  }

  ul {
    margin: 0;
    margin-top: 4vw;
    padding: 0;
  }

  input {
    /* margin: 0; */
    border-radius: 0;
  }

  .addBtn {
    /* margin: 0; */
    border-radius: 0;
  }

  .header {
    padding: 30px 0;
  }
}

/* large screens, 2k or 4k screens */
@media only screen and (min-width: 2000px) {
  .banner {
    background-image: url("benny4k01.jpg");
    height: 384px;
  }

  .header {
    padding: 30px 20vw;
  }

  ul {
    margin: 1vh 20vw 2vh 20vw;
  }
}
